<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="/User/UserDetail">
                <span class="menu-title">Profilim </span>
                <i class="fa fa-solid fa-user menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterList">
                <span class="menu-title">Yazar </span>
                <i class="fa fa-solid fa-feather menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/CategoryList">
                <span class="menu-title">Kategori</span>
                <i class="fa fa-duotone fa-k menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/UserList">
                <span class="menu-title">Kullanıcılar</span>
                <i class="mdi mdi-account-multiple menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/ContactList">
                <span class="menu-title">İletişim - Mail Kutusu</span>
                <i class="mdi mdi-email-open-outline menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index">
                <span class="menu-title">Siteye Git</span>
                <i class="fa-solid fa-archway menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/Logout">
                <span class="menu-title">Çıkış Yap</span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>

    </ul>
</nav>