<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a href="/Blog/Index" class="logo">
            <span class="fa fa-pencil"></span> <span class="title">Blog Website</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>