<!DOCTYPE HTML>

<html>

<head>
    <title>Blog Web Sitesi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/webSite/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/webSite/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/webSite/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

    <div id="wrapper">

        <partial name="_Header" />

        <partial name="_Menu" />
        <div id="main">
        @RenderBody()
        </div>
        <partial name="_Footer" />
    </div>

    <script src="~/webSite/assets/js/jquery.min.js"></script>
    <script src="~/webSite/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/webSite/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/webSite/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/webSite/assets/js/main.js"></script>
      @await RenderSectionAsync("Scripts", required: false)
</body>
</html>