@model IEnumerable<CommentListResponse>

@foreach(var item in Model)
{
    <div class="row">
    <div class="col-md-2">
        <img src="~/webSite/images/blog-6-720x480.jpg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-10">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="mt-0">@item.User.UserName</h5>
                <p>
                    @item.CommentContent
                </p>
            </div>
        </div>

    </div>
</div>

}

